# Logs
demoApp/logs
demoApp/*.log
demoApp/npm-debug.log*
*.log

# Runtime data
pids
*.pid
*.seed

# Webstore files
.idea/
*.iml

# swap file
*.swp

# public build
demoApp/public/
demoApp/quality/

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
demoApp/node_modules/

